@{ 
    Layout = null;
}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="~/images/favicon.png">
    <title>Unauthorized</title>
    <link href="~/js/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/colors/blue.css" rel="stylesheet" />
</head>
<body class="fix-header card-no-border">
    <section id="wrapper" class="error-page">
        <div class="error-box">
            <div class="error-body text-center">
                <h1>401</h1>
                <h3 class="text-uppercase">Unauthorized !</h3>
                <a href="@Url.Action("Index","Accounts")" class="btn btn-info btn-rounded waves-effect waves-light m-b-40">Back to home</a>
            </div>
            <footer class="footer text-center">@DateTime.Now.Year © Hanbook Net Core.</footer>
        </div>
    </section>
    <script src="~/js/jquery/jquery.min.js"></script>
    <script src="~/js/bootstrap/js/popper.min.js"></script>
    <script src="~/js/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/js/waves.js"></script>
</body>
</html>
